{% extends 'base.html.twig' %}
    {% block title %}About Me | {{ parent() }}{% endblock %}

{% block body %}
    <h2>About Me</h2>
        <p>Moi c'est Tea-Rex !
            <br>Je suis actuellement en formation développement web et web mobile.
            <br>En parallèle de mon parcours, je suis passionnée par la couture.
        </p>
        <p>
            Cette passion m'a conduit à imaginer une application qui permettrait de retrouver facilement ses patrons de couture.
            <br>L'idée est de lier mes deux passions : le développement et la couture.
        </p>
        <p>
            Ce projet à pour but de faciliter la recherche de mes patrons de couture, pour simplifier l'organisation des patrons et apporter une solution pratique à d'autres passionné.e.s comme moi.
        </p>
        <p>
            Mon objectif est de fusionner créativité et technologie, et je suis toujours à la recherche de nouveaux moyens d'appliquer mes connaissances pour rendre la couture encore plus accessible et agréable grâce à des outils numériques.
        </p>
{% endblock %}

