{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Calculateur de jupe cercle
{% endblock %}

{% block body %}
    <article class="card-body">
        <h2 class="card-title">Calculateur de jupe cercle</h2>

        <div class="card-body">
            <p class="card-text"> ici le calculator</p>
        </div>
    </article>

{% endblock %}


