{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Liste des patrons
{% endblock %}

{% block body %}
    <section class="patterns-list">
        <h2>Liste de mes patrons :</h2>
        {% for pattern in patterns %}
            <article>
                <a href="{{ path('pattern_detail', {id: pattern.id}) }}"
                   title="Voir les détails de ce patron">
                    {{ pattern.title }}
                </a>
            </article>
        {% endfor %}
    </section>
{% endblock %}