@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quando&family=Roboto:ital,wght@0,100..900&display=swap");

/*---------------------------------------------*/
/*               GLOBAL STYLES                 */
/*---------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

html, body {
    height: 100%;
}

body {
    background-color: var(--BackGround);
    color: var(--Black);
    font-size: var(--font-size-default);
    height: 100vh;
}

/*---------------------------------------------*/
/*         DECLARATION DES VARIABLES           */
/*---------------------------------------------*/
:root {
    /* Couleurs */
    --PrimaryColor: #ecc5f0;
    --SecondaryColor: #d2f6d3;
    --AccentColor1: #a563fa;
    --AccentColor2: #ef94ca;
    --AccentColor3: #dcefee;
    --AccentColor4: #7ccdc9;
    --AccentColor5: #fb6a6a;
    --AccentColor6: #ffbbd3;
    --AccentColor7: #7ccdc9;

    --White: #fffdfb;
    --WhitePowderedSugar: #fdfcfa;
    --Grey: #d9d9d9;
    --Black: #373d3b;
    --LightBeige: #fff7ee;
    --BackGround: var(--LightBeige);
    --ColorCancelButton: var(--Grey);
    --ColorHoverButton: var(--AccentColor7);
    --ColorClic: #fca381;

    /* Conversion de px en em */
    --10px: 0.625em;
    --12px: 0.75em;
    --14px: 0.875em;
    --20px: 1.25em;
    --40px: 2.5em;

    /* Font-size */
    --font-size-default: 1em;
    --font-size-h1: 1.5em;
    --font-size-h2: 1.25em;
    --font-size-h3: 1.15em;
}

/*---------------------------------------------*/
/*                    GLOBAL                   */
/*---------------------------------------------*/
/*   CLASSES   */
h1 {
    font-family: "Quando", sans-serif;
    padding: var(--10px);
}

h2 {
    font-size: var(--font-size-h2);
}

ul {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: inherit;
}

.header-logo img {
    max-width: 150px;
    margin-right: 5px;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    background-color: var(--BackGround);
    justify-content: center;

}

footer {
    padding: 1.5rem 0;
    text-align: center;
    background-color: var(--BackGround);
}

form > label {
    margin: 2em;
}

/*---------------------------------------------*/
/*                   SIDEBAR                   */
/*---------------------------------------------*/
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100vh;
    background-color: var(--PrimaryColor);
    overflow-y: auto;
    z-index: 1000;
    margin-left: 5rem;
    font-weight: bold;
}

.nav-item {
    justify-content: space-between;
    padding: var(--10px) var(--40px) ;
    margin-bottom: var(--12px);
}

.sidebar .nav-link {
    color: var(--Black);
    font-size: var(--font-size-default);
    text-decoration: none;
    display: block;
}

.sidebar .nav-item:hover {
    background-color: var(--BackGround);
}


.sidebar .nav-link img {
    max-width: 150px;
    margin-right: 10px;
}

.connexion-navbar {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.connexion-navbar a {
    margin-top: 0.5em;
}


/*id */
#hi-username {
    font-size: medium;
    font-weight: bold;
}

#hi-username:hover {
    background-color: transparent;
}

#username {
    font-family: "Quando", sans-serif;
    font-size: var(--font-size-h1);
    font-weight: bold;
    margin-left: 0.2em;
    margin-right: 0.2em;
}
/*---------------------------------------------*/
/*                   HEADER                    */
/*---------------------------------------------*/
/*   Logo et menu */
.header-logo img {
    max-width: 150px;
    margin-right: 5px;
}


/*---------------------------------------------*/
/*                  MOBILE STYLES              */
/*---------------------------------------------*/
/* Si tu veux ajouter un style mobile, voici un exemple de base */
@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Sur les petits écrans, la sidebar prend 100% de la largeur */
    }
}
