<nav class="navbar navbar-expand-lg">

    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('main_home') }}"
                       title="Go back to homepage">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('pattern_list') }}"
                       title="Voir tous mes patrons">
                        Mes patrons
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('main_about_me') }}"
                       title="About-Me">
                        A propos de moi
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

